.profile-title {
    font-size: 52px;
    font-weight: 400;
    line-height: normal;
}

#info ul li {
    margin-bottom: 20px;
  }

li {
    list-style-type: none;
  }

  .link-light {
    color: black;
  }
  
  .link-dark {
    color: white;
  }