.interests-title {
    font-size: 52px;
    font-weight: 400;
    line-height: normal;
}

#interests ul li {
    margin-bottom: 20px; // adjust as needed
  }

.link-dark .link-light {
    color: #6f3c9c;
}